name: Web App Deploy Prod

on:
  push:
    branches: [ master ]
    paths:
      - 'web/**'

  workflow_dispatch:

env:
  VITE_API_URL: ${{ vars.VITE_API_URL }}

jobs:
  deploy-web-app-prod:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Install Node Modules
        run: npm i
      - name: Build Application
        run: CI=false npm run build
      - name: Deploy to S3
        run: aws s3 sync ./dist s3://${{ vars.BUCKET_NAME }}
